.card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin:10vh auto;
    width: 300px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 5px;
  }
  .button-container{
    display: flex;
    justify-content: center;
  }
  
  .button-container button{
    margin: 5px;
    border-radius: 7px;
    border: none;
    padding: 5px;
  }
  #delete_button{
background-color: bisque;
  }
#edit_button{
    background-color: aqua;
  }
  #delete_button:hover{
    background-color: red;
  }
  #edit_button:hover{
    background-color: cornflowerblue;
  }

a{
  text-decoration: none;
  color: black;
  margin: 5px;
}

a:hover{
  color:firebrick;
}

/* TaskDetails.css */

.button-container {
  margin-top: 10px;
}

#delete_button,
#edit_button,
#save_button,
#cancel_button {
  margin-right: 10px;
  padding: 8px;
  cursor: pointer;
}

/* Edit mode styles */
.edit-form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Optional: Style the Save and Cancel buttons differently */
#save_button {
  background-color: #4caf50;
  color: white;
  border: none;
}

#cancel_button {
  background-color: #f44336;
  color: white;
  border: none;
}

.edit-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}